:root{
  --bgColor:#e1e3e1;
  --bgColorOpacity:#e1e3e160;
  --boldTxt:#f2f2f2;
  --liLinkBorder:#b33b00;
}
body{
  background:url("../ui/backgrounds/landing_01.png") no-repeat, linear-gradient(#ffffff 0%, #ffffff00 10%, #00000000 100%) no-repeat, url("images/hangingplant.png") no-repeat, url("../ui/backgrounds/grain-tile.gif") repeat;
  background-size: 150px, auto, auto, auto;
  background-position:top left, top, top right, top;font-size:var(--fontSizeDesktop);
  margin: 0 auto;
}
h1, h2, h3, h4{text-shadow: -1px -1px 0 var(--headingBorder), 1px -1px 0 var(--headingBorder), -1px 1px 0 var(--headingBorder), 1px 1px 0 var(--headingBorder); color:var(--boldTxt);}
h1{font-size:16px;}
mark {background: #00000030;}
#treeBody {h1, h2, h3, h4{a, a:visited{text-shadow: -1px -1px 0 var(--liLinkBorder), 1px -1px 0 var(--liLinkBorder), -1px 1px 0 var(--liLinkBorder), 1px 1px 0 var(--liLinkBorder); color:#ffffff;}}}
.inContent{background:linear-gradient(90deg,#00000000 2%, #ffffff30 10%, #ffffffb4 40%, #ffffffb4 60%, #ffffff30 90%, #00000000 98%), url('../ui/backgrounds/moss.gif') repeat-y; background-position: center !important;}
#lContainer{
  background: url("../ui/layout_pieces/layout_mid_tree.png") left top, linear-gradient(90deg, #00000000 0%, #00000000 10%, #ffffffa3 40%, #ffffffa3 100%) !important;
  > h1{background: url("layout_pieces/bill_scales_texture-flip.gif") repeat-x 0px 4px;
}
#rContainer {
  h1{background: url("layout_pieces/bill_scales_texture.gif")repeat-x 0px 4px;}
}
.banner{min-height:200px; background:url('../ui/tree_post/luchino.png') !important;}