:root{
  --boldTxt:#9c0520;
}
.inContent{background:url('../ui/backgrounds/tiled_plants.gif') repeat-y !important; background-position: center !important;}
#lContainer{
  background: url("../ui/layout_pieces/layout_mid_tree.png") left top, linear-gradient(90deg, #00000000 0%, #00000000 10%, #ffffffa2 10%, #ffffffa2 100%) !important;
}
#rContainer{h4, h3, h2, h1 {
  text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
  color: var(--boldTxt);
}}
#rContainer > div {background: #ffffff !important;}}
#rContainer, #imgPreview{img{cursor:pointer;}}
.banner{background:0 !important; max-height:5px;}