/* GLOBAL ROOT */
:root{
  --linkColor:#525252;
  --selectionColor:#00000030;
  --jellyGradient:linear-gradient(180deg, #ac7be8 5%, #7d49d1 39%, #a95eeb 92%);
  --headingBorder:#3e0078;
  --jellySolid:#ce36d9;
  --divSolid:linear-gradient(0deg, #ededed 1%, #ffffff 30%);
  --divInset:linear-gradient(180deg, #d6d6d670 0%, #ffffff 100%);
  --fontSizeMobile:14px;
  --fontSizeDesktop:12px;
}

/* GLOBAL */

html{scroll-behavior: smooth;scrollbar-color: var(--jellySolid) #ffffff;
    scrollbar-width: auto;}
body{
  background:url("backgrounds/landing_01.png") no-repeat, linear-gradient(#ffffff 0%, #ffffff00 10%, #00000000 100%), url("backgrounds/grain-tile.gif") repeat;
  background-size: 150px, auto, auto;
  background-position:top left, top;font-size:var(--fontSizeDesktop);
  margin: 0 auto;
}
::selection {background: var(--selectionColor);}
hr {background-image: linear-gradient(to right, #00000000, #000000, #00000000);border: 0;height:1px;
}
audio{width:100%;filter:opacity(30%);border:var(--borderColor) 1px;border-style: none none var(--borderStyle) none;}
audio:hover{filter:opacity(50%);}
a, a:visited{color:var(--linkColor);text-decoration-style: dotted;border:1px #000000;}
a:hover{color:#000000;}
p, h1, h2, h3, h4, details, span{padding:0px 10px 0px 10px;}
p, h1, h2, h4, details, span, li, td{border:1px #000000;}
h1, h2, h4{margin:0;}
h3, .lContainer h4{ #00000020; color:#00000090; margin: 5px 0px 5px 0px; padding:2px 5px 2px 5px;}
.rContainer > h4{text-shadow:-1px -1px 0 var(--headingBorder), 1px -1px 0 var(--headingBorder), -1px 1px 0 var(--headingBorder), 1px 1px 0 var(--headingBorder);}
ul{margin:0px 0px 3px 0px; padding:0px 0px 3px 35px;}
li {list-style-type: "→ "; margin:0px 10px 0px 0px;}
td{border-style:dotted dotted dotted dotted;}
b{color:var(--jellySolid);}
section > div{
  border:solid 1px;
}
.rContainer > div, .rContainerMinimal > div, .mContainer > div{
  background:var(--divInset);
  box-shadow: inset 0px 0px 3px #ffffff;
  box-sizing:border-box;
  margin:5px auto 5px;
  border-color: #3a371b;
}
table{width:100%;}
td{padding:3px 4px 3px 4px;}
td, .lContainer ul, .rContainer > ul, h4{background:url("backgrounds/tone.png");}
details{cursor:text;color:#636363;}
summary{cursor:pointer;color:#000000;}
#body{width:644px;}
#minimalBody{width:660px;margin:15px auto 0px auto;}
#body, #minimalBody{
  translate:0px 0px;
  opacity:1;
  margin:0 auto;
}
#body section, #body div, #minimalBody section, #minimalBody div{
  background-position:top left;
  box-sizing:border-box;
}
#top, #singleTop{height:116px;}
#minimalTop{background:url('layout_pieces_minimal/layout_header.png');}
#bottom, #singleBottom{height:132px;}
#minimalTop{height:90px;}
#minimalBottom{height:91px;}
.lContainer, .lContainerMinimal{text-shadow:-1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff; color:#aba9a9;}
.lContainer ul {overflow: hidden; filter:opacity(50%);}
.lContainer ul:hover {height:100%;filter:opacity(100%);}
.lContainer > div, .lContainerMinimal > div{
  text-shadow:none !important;
  margin:0px auto 10px auto;
  box-sizing:border-box;
  border-radius:4px;
  text-align:start !important;
  color: #000000!important;
}
.rContainerMinimal img{margin:0px 5px 0px 5px;}
.rContainer, .rContainerMinimal, .mContainer{min-height:650px;}
.mContainer {background:url('layout_pieces/layout_singlecontainer.png');padding:5px 10px 5px 14px;}
.mContainer div{background:var(--divInset);width:90%;padding:5px;}
/*RSS FEED START*/
.feedBlock{background:url("backgrounds/dotted_paper.png")!important;border:3px #bcbcbc inset !important;border-radius:0px !important;padding:5px 0px 0px 0px;}
.feed-title{display:none;}
/*RSS FEED END*/
section > .title, section >  h4{
  background: var(--jellyGradient) !important;
  width:auto !important;
  box-shadow: inset 0px 0px 3px #ffffff, inset 0px 0px 3px #ffffff;
  border:1px #36333b;
  border-style:solid none solid none !important;
  margin:0;
  border-radius:0px;
  color:#ffffff;
  padding:3px;
}
section > .title a, section > h4 a, section > .title a:hover, section > h4 a:hover, section > .title a:visited, section > h4 a:visited{color:#ffffff;}
.readMore{background:linear-gradient(90deg, #00000000 0%, #00000030 30%, #00000030 100%);text-align:end;display:block;}
.readMore a, .readMore a:visited{color:#ffffff;text-decoration:none;}
.demo{width:100%;}

/* DESKTOP */

@media(min-width:750px){
  body{font-family: "MS PGothic", sans-serif;}
  section div{border-radius:6px;}
  .inContent, .inContentMinimal{display:flex;min-height:200px;}
  .inContentSingle{display:block;}
  #top{background:url('layout_pieces/layout_header_multi.png');}
  #minimalBottom{background:url('layout_pieces_minimal/layout_bottom.png');}
  #bottom{background:url('layout_pieces/layout_bottom_multi.png');}
  #singleTop{background:url('layout_pieces/layout_header_single.png');}
  #singleBottom{background:url('layout_pieces/layout_bottom_single.png');}
  .lContainer hr{display:none;}
  .lContainer{
    background:url('layout_pieces/layout_lcontainer.png');
	padding:5px 0px 0px 14px;
	text-align:center;
    width:204px;
  }
  .lContainerMinimal{
    background:url('layout_pieces_minimal/layout_lcontainer.png');
	padding:5px 0px 0px 5px;
	text-align:center;
    width:196px;
  }
  .lContainer ul {height:40px;}
  .lContainer div, .lContainerMinimal div{
    background: var(--divSolid);
    box-shadow: 4px 3px 9px -4px #00000070;
    border:#949494 solid 1px;
    border-radius:4px;
	width:89%;
  }
  .rContainer{
    background:url('layout_pieces/layout_rContainer.png');
	padding:0px 10px 0px 1px;
    width:440px;
  }
  .rContainerMinimal{background:url('layout_pieces_minimal/layout_rcontainer.png');padding:0px 6px 0px 1px;width:464px;}
  .rContainer div, .rContainerMinimal div{width:95%;}
  .rContainer hr, .mContainer hr{
	background: url('layout_pieces/hr_mobile.png'), no-repeat;
	background-position:top left;
	width:100%;
    height:4px;
  }
}

/* MOBILE */
@media screen and (max-width:749px){
  body{font-family: sans-serif; font-size:var(--fontSizeMobile);}
  #body hr{
	background: url('layout_pieces/hr_mobile.png');
	background-position:top left;
	background-repeat:no-repeat;
	max-width:634px;
	height:4px;
	margin:0;
  }
  section div{
	border-radius:5px;
	margin:5px 0px 0px 0px;
	width:98%;
  }
  .inContent{display:block;min-height:750px;background:url('layout_pieces/layout_singlecontainer.png');
	padding:5px 10px 0px 14px;}
  .inContentMinimal{display:block;min-height:750px;background:url('layout_pieces_minimal/layout_singlecontainer.png');
	padding:5px 6px 3px 6px;}
  .inline{display:flex;width:98%;margin:0 auto;}
  .inline div{
	margin:10px auto 0px 5px;
  }
  #top, #singleTop{background:url('layout_pieces/layout_header_single.png');}
  #bottom, #singleBottom{background:url('layout_pieces/layout_bottom_single.png');}
  #minimalBottom{background:url('layout_pieces_minimal/layout_bottom_single.png');}
  .lContainer ul {height:var(--fontSizeMobile);}
  .lContainer div, .lContainerMinimal div{
	background:var(--divSolid);
	width:95%;
  }
  .rContainer div, .rContainerMinimal div{background:var(--divInset);}
}