/* GLOBAL ROOT */
:root{
  --bgPattern:url("layout_pieces/dotbg.png");
  --bgBackdrop:url("../ui/backgrounds/gobelin.gif");
  --bgColor:#ffffffa8;
  --bgColorOpacity:#e1e3e160;
  --bgColor2:#ffffff;
  --heading:#000000;
  --headingBorder:#ffffff;
  --rContainerBg:#ffffff;
  --tdHover:#00000030;
  --linkColor:#666100;
  --linkHover:#666100;
  --liLinkColor:#ffffff;
  --liLinkBorder:#b33b00;
  --borderStyle:dotted;
  --borderStyle2:solid;
  --borderColor:#000000;
}
html{scroll-behavior: smooth;scrollbar-width: auto;}
#body{background:linear-gradient(180deg, var(--bgColor) 0%, var(--bgColor) 100%);box-shadow:0px 0px 5px 4px var(--bgColor);}
body{
  background: url("images/screencaps/stonemason_smiling.png") no-repeat bottom left, linear-gradient(180deg, var(--bgColor2) 0%, #00000000 3%, var(--bgColor2) 100%), var(--bgPattern), var(--bgBackdrop), var(--bgColor2) !important;
  font-family: "MS PGothic", sans-serif; font-size:12px;
  color:var(--borderColor);
  padding:0;
  margin:0;
}
#body{width:644px;margin:0 auto;}
#body section, #body div, .lContainer, .rContainer, img{box-sizing:border-box;}
hr {background-image: linear-gradient(to right, #00000000, #000000, #00000000);border: 0;height:1px;}
ul li {list-style-type: "→ "; margin:0px 10px 0px 0px;
}
a, a:visited{color:var(--linkColor);text-decoration:underline dotted;cursor:pointer;}
a:hover{color:var(--linkHover);}
h1, h2, h3, h4, details, span{padding:4px 10px 5px 10px;}
.rContainer h4 a, .rContainer h4 a:hover, .rContainer h4 a:visited{color:#ffffff;text-shadow: -1px -1px 0 var(--liLinkBorder), 1px -1px 0 var(--liLinkBorder), -1px 1px 0 var(--liLinkBorder), 1px 1px 0 var(--liLinkBorder);}
p,center{padding:0px 10px 0px 10px;}
b{color:#c29136;}
h1, h2, h4 {margin:0;width:auto;color:var(--heading); text-shadow:#bgColor;text-shadow: -1px -1px 0 var(--headingBorder), 1px -1px 0 var(--headingBorder), -1px 1px 0 var(--headingBorder), 1px 1px 0 var(--headingBorder);}
ul, ol{margin:0px 0px 3px 0px;padding:3px 0px 3px 35px;}
table{width:100%;} td{padding:3px;color:#363636;vertical-align:top;}
img{margin:1px 1px 1px 1px;} img:hover{cursor:crosshair;}
#top, #bottom{border:1px var(--borderColor);}
#bottom{min-height:140px;padding:10px 0px 0px 0px;text-align:center;no-repeat top left;border-style: var(--borderStyle) none none none;}
#top{background:url("layout_pieces/top.png")no-repeat bottom left;border-style: none none var(--borderStyle) none;min-height:128px;}
#bottom{color:#878787;}
audio, audio:hover{transition:.3s ease;}
.inContent{min-height:600px;padding:0px 5px 0px 5px;}
.lContainer, .rContainer{border:1px var(--borderColor);}
.lContainer{background:url('layout_pieces/nav.png') no-repeat; background-position:top left;padding:116px 0px 0px 0px; text-align:center;}
.lContainer > div, .rContainer >  div, .lContainer > td, .rContainer > td, .lContainer > ul, .rContainer > ul, h4{text-align:left !important;}
.lContainer > div, .rContainer >  div, .lContainer > td, .rContainer > td, .lContainer > ul, .rContainer > ul{background:var(--rContainerBg);}
.lContainer > div h4{padding:0px 10px 0px 10px;}
.lContainer audio{width:100%;}
.rContainer div, .lContainer div, .lContainer ul, td {border: 1px var(--borderColor);}
.rContainer div, .lContainer div{padding:5px 0px 5px 0px;}
.lContainer > ul, .lContainer > div{border-style:var(--borderStyle) none var(--borderStyle) var(--borderStyle);}
.inContent .lContainer > h4, .inContent .rContainer > h4{background: url("layout_pieces/floral_border.png") repeat-x;}
.rContainer img{max-width:290px;}
.gallery img{width:49%;position:relative;} .gallery img:hover{transform:scale(140%);z-index:10;}
.demo{max-width:290px;border:1px var(--borderStyle2) var(--borderColor); margin:2px 2px 2px 2px;}

/* DESKTOP */

@media(min-width:700px){
  audio{width:100%;filter:opacity(20%);border:var(--borderColor) 1px;border-style: none none var(--borderStyle) none;}
  .inContent{display:flex;}
  audio:hover{filter:opacity(90%);}
  table td:nth-child(2){width:160px !important; height:160px;}
  .lContainer{width:35%; border-style: none var(--borderStyle) none none; background-position:top left;background-position:0% 0%, 0% 100%;}
  .rContainer{width:65%;}
  .rContainer div, td {padding:2px 0px 4px 0px;margin:3px 0px 3px 0px;border-bottom:1px var(--borderColor) var(--borderStyle);}
  .rContainer > td{border-style:var(--borderStyle) var(--borderStyle) var(--borderStyle) var(--borderStyle);}
  .lContainer > ul{border-style:var(--borderStyle) none var(--borderStyle) var(--borderStyle);}
  .rContainer > div{border-style:var(--borderStyle) var(--borderStyle) var(--borderStyle) none;}
}

/* MOBILE */

@media screen and (max-width:699px){
  body{font-family: "sans", sans-serif; font-size:16px !important;}
  table td:nth-child(2){width:35vw !important; height:35vw;}
  #body{width:95%;}
  #top{background-size:100%;}
  .inContent{width:97%;margin:0 auto;}
  .inContent section{margin:0px 0px 0px 0px;}
  .lContainer{background-position:top left;background-position:top;}
  .rContainer > td{border-style:var(--borderStyle) var(--borderStyle) var(--borderStyle) var(--borderStyle);}
  .lContainer > ul{border-style:var(--borderStyle) var(--borderStyle) var(--borderStyle) var(--borderStyle) ;}
  .rContainer > div{border-style:var(--borderStyle) var(--borderStyle) var(--borderStyle) var(--borderStyle);}
}