/* GLOBAL ROOT */
:root{
  --bgPattern:url("ui/dotbg.png");
  --bgBackdrop:url("../ui/backgrounds/gobelin.gif");
  --headingBorder:#000000;
  --boldTxt:#4b4d00;
  --themeBG:url('../ui/backgrounds/gobelin.gif');
}
.inContent{background:var(--themeBG) repeat-y; background-position: center !important;}
h4, h3, h2, h1{text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff; color:var(--boldTxt);}
.banner{
  background:url('ui/aatp_banner.png') !important;
}
b{color:var(--boldTxt);}